[submodule "alacritty/theme"]
	path = alacritty/theme
	url = https://github.com/alacritty/alacritty-theme
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/dot-config/tmux/plugins/tpm"]
	path = tmux/dot-config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
